<nav class="navbar w-100 navbar-expand-lg navbar-light bg-secondary">
  <a class="navbar-brand" href="#">TransX</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav w-50">
        <tabset>
            <tab heading="Dashboard" id="tab1">Dashboard</tab>
            <tab heading="BPMN">Canvers</tab>
            <tab heading="Binder">Document Management</tab>
            <tab heading="Preference">User Preference</tab>
        </tabset>
    </div>
  </div>
</nav>