$font-family_1: sans-serif;
.navbar-brand{
    width: 100px;
    font-size: 25px;
}

.navbar-icon-top {
    margin-top: 0px;
    padding-top: 0;
    padding-bottom: 0;
	.navbar-nav {
        .nav-item{
            height: 80px;
            border-radius: 5px;
            padding: 0px 20px 0px 20px;
            a{
                color: #f4f4f4;
            }
        }
        .in-active{
            &:hover{
                background :  #444d55;
            }
        }
        .active{
            background: #f4f4f4;
            color: black !important;
        }
		.nav-link {
            font-size: 25px;
		}
	}
}
@media (min-width: 576px) {
	.navbar-icon-top.navbar-expand-sm {
		.navbar-nav {
            .active{
                a{
                    color: #212529 !important;
                    padding: 10px 10px 0px 10px;
                }
            }
			.nav-link {
				text-align: center;
				display: table-cell;
				height: 70px;
				vertical-align: middle;
				padding-top: 0;
				padding-bottom: 0;
				.fa {
					display: block;
					width: 48px;
					margin: 2px auto 4px auto;
					top: 0;
					line-height: 24px;
					.badge {
						top: -7px;
					}
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.navbar-icon-top.navbar-expand-md {
		.navbar-nav {
			.nav-link {
				text-align: center;
				display: table-cell;
				height: 70px;
				vertical-align: middle;
				padding-top: 0;
				padding-bottom: 0;
				.fa {
					display: block;
					width: 48px;
					margin: 2px auto 4px auto;
					top: 0;
					line-height: 24px;
					.badge {
						top: -7px;
					}
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.navbar-icon-top.navbar-expand-lg {
		.navbar-nav {
            .active{
                a{
                    color: #212529 !important;
                    padding: 10px 10px 0px 10px;
                }
            }
			.nav-link {
				text-align: center;
				display: table-cell;
				height: 70px;
				vertical-align: middle;
				padding-top: 0;
				padding-bottom: 0;
				.fa {
					display: block;
					width: 48px;
					margin: 2px auto 4px auto;
					top: 0;
					line-height: 24px;
					>.badge {
						top: -7px;
					}
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.navbar-icon-top.navbar-expand-xl {
		.navbar-nav {
			.nav-link {
				text-align: center;
				display: table-cell;
				height: 70px;
				vertical-align: middle;
				padding-top: 0;
				padding-bottom: 0;
				.fa {
					display: block;
					width: 48px;
					margin: 2px auto 4px auto;
					top: 0;
					line-height: 24px;
					.badge {
						top: -7px;
					}
				}
			}
		}
	}
}
